[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
"googlefinance.client" = "*"
alpha-vantage = "*"
quandl = "*"

[dev-packages]

[requires]
python_version = "3.7"
